@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

@keyframes glitch {
    0% { text-shadow: 3px 3px #4B69FD, -3px -3px #fe652b; }
    25% { text-shadow: -3px -3px #4B69FD, 3px 3px #fe652b; }
    50% { text-shadow: 3px -3px #4B69FD, -3px 3px #fe652b; }
    75% { text-shadow: -3px 3px #4B69FD, 3px -3px #fe652b; }
    100% { text-shadow: 3px 3px #4B69FD, -3px -3px #fe652b; }
}

.main-title {
    font-size: 48px;
    font-family: "Press Start 2P", serif;
    color: var(--color-white);
    animation: glitch 0.5s infinite alternate;
}


/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    background-color:#000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle, #251d6f 0%, #000000 100%);
}

.info-section {
    background-color: rgba(0, 0, 0, 0.325);
    color: #aeaeae;
    text-align: center;
    padding: 20px;
    font-family: "Tektur", sans-serif;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
}


.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* banner */
.header-banner {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0;
}

/* Títulos */
.main-title {
    font-size: 48px;
    font-family: "Press Start 2P", serif;
    font-style: italic;
    color:#7d7d7d;
    
}

.secreto{
    font-size: 48px;
    font-family: "Press Start 2P", serif;
    color:#2c097d  
}

.subtitle{
    font-size: 18px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    font-family: "Tektur", serif;
    font-weight: 700;
    color: #838282;
}

.section-title {
    font-family: "Tektur", serif;
    font-size: 36px;
    font-weight: 700;
    color:#a2a2a2;
    margin: 10px 0;
    text-align: center;
}
/* ====== seccion imput y botones ====== */
.input-section {
    flex: 60%;
    background-color: #10162F;
    border: 1px solid #4B69FD; 
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 80%;
    margin: 20px auto;
    box-shadow: 0 0 20px rgba(75, 105, 253, 0.5);
}

.input-section h2 {
    color: #FFF9EB; 
    text-shadow: 0 0 5px #4B69FD;
}

.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid #4B69FD;
    background-color: #0A0F2D;
    color: #FFF;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
    font-family: "Tektur", sans-serif;
}

.button-add {
    background-color: #1d73db;
    color: #FFF9EB;
    border-radius: 0 25px 25px 0;
    transition: 0.3s;
}

.button-add:hover {
    background-color: #4B69FD;
    box-shadow: 0 0 10px #4B69FD;
}

/* ====== estilo de los li ====== */
.name-list {
    width: 80%;
    margin-top: 20px;
    padding: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.name-list li {
    background: rgba(10, 15, 45, 0.8);
    color: #FFF;
    font-size: 18px;
    font-family: "Tektur", sans-serif;
    padding: 12px 20px;
    border: 2px solid #4B69FD; 
    border-radius: 8px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(75, 105, 253, 0.5);
    animation:  0.5s;
    transition: 0.3s;
}

/* efecto al pasar el mouse */
.name-list li:hover {
    box-shadow: 0 0 15px #4B69FD, 0 0 25px #fe652b;
    transform: scale(1.05);
}

/* botones */
button {
    padding: 15px 30px;
    font-family: "Press Start 2P", serif;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.button-add {
    background-color:#1d73db;
    color:#FFF9EB;
    border-radius: 0 25px 25px 0;
}

.button-add:hover {
    background-color: #a1a1a1;
}

/* listas */
ul {
    list-style-type: none;
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin: 20px 0;
}

.result-list {
    margin-top: 15px;
    color: #ff7b08;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    font-family: "Press Start 2P", serif;
}

/* boton sorteo */
.button-draw {
    display: flex;
    align-items: center;
    width: 90%;
    padding: 10px 40px;
    color:#1d73db;
    background-color:#FFF9EB;
    font-size: 16px;
    animation:  0.5s;
    transition: 0.3s;
}

.button-draw img {
    margin-right: 40px;
}

.button-draw:hover {
    background-color:#c1c1c178;
}
